// Colors
$vss-clr-gray: rgb(161, 161, 161) !default;
$vss-clr-white: #fff !default;
$vss-clr-black: #000 !default;
$vss-clr-hover: lighten(hsl(200, 100%, 50%), 10%) !default;

//  Global Component Variables
$vss-component-padding: 4px !default;
$vss-component-width: 100% !default;

//  Active State
$vss-state-active-bg: darken(hsl(200, 100%, 50%), 10%) !default;
$vss-state-active-color: $vss-clr-white !default;

//  Disabled State
$vss-state-disabled-bg: rgb(248, 248, 248) !default;
$vss-state-disabled-color: rgba(60, 60, 60, 0.5) !default;
$vss-state-disabled-cursor: not-allowed !default;

// Borders
$vss-border-width: 1px !default;
$vss-border-style: solid !default;
$vss-border-radius: 5px !default;

// Dropdown
$vss-dropdown-z-index: 1000 !default;
$vss-dropdown-min-width: 160px !default;
$vss-dropdown-max-height: 250px !default;
$vss-dropdown-box-shadow: 0px 3px 6px 0px darken($vss-clr-gray, 20%) !default;
